button.login-btn {
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}
button.filestack-react{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}
button.show{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}

button.show{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}

a.button.show.erase{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  opacity: .9;
}
a.button.show.edit{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  opacity: .9;
}
button.button.show{
  background: #ff9694;;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  opacity: .9;
}

p.button.title.is-6.button{
  background: black; color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  opacity: .9;
}

button.button.title.is-6.heading.submit{
  background: black; color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
  opacity: .9;
}

div.field.center{
  text-align: center;
}
