button.login-btn {
  background: #6472A5;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}
button.filestack-react{
  background: #6472A5;color: #ffffff;border-radius: 18px;padding: 0.57em 2em;
}

div.field.center{
  text-align: center;
}
