
section.hero.is-large.main-hero{
  background-image: url(./img/homepageImage.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 1000px;
}


div.hero-body.furtherContact{
  background-color: #48474a;
  color: white;
}


div.column.homepage{
  margin-top: 120px;
}
