.register{
  min-height: 100vh;
  background-color: #f7f7f7;
}
.register .register-page{
  height: 100vh;display: flex;align-items: center;
}
.register .register-sidebar, .register-form-wrapper{
  background: #fff;height: 80vh;
}
.register .register-sidebar{
  background:  url('./img/logo.png')center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.register .register-sidebar::before{
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  z-index: 1;
	background-color: #ff9694;
	opacity: .5;
}
.register .register-sidebar .register-gradient-background{
  position: absolute;z-index: 2;
}
.register .register-sidebar .register-gradient-background h1{
  font-size: 2em;font-weight: 600;text-transform: uppercase;color: #bed9e0;
}

.register-form-wrapper .register-btn a{
  color: #ffffff;border-radius: 18px;padding: 0.57em 2em;background: #bed9e0;
}
.register-form-wrapper .register-btn a:hover{
  opacity: .8;
}
.field-box .field{margin-bottom: 2.1em;}
.register-form-wrapper .field-box{
  display: flex;
  height: 80%;
  align-items: center;
}
.register-form-wrapper .field-box .register-heading{
  font-size: 1.95em;
}
.register-form-wrapper .field-box .register-subheading{
  margin-bottom: 2em;font-size: 0.85em;color: #787877;
}

.register-form-wrapper .field-box .register-btn-group .register-btn{
  background: #b3edfc;color:black;border-radius: 18px;padding: 0.57em 2em;
}
.register-form-wrapper .field-box .register-btn-group .forgot-link{
  color: #777777;font-size: 0.85em;
}
.register-form-wrapper .field-box .register-btn-group .forgot-link:hover{
  color: #444444;font-size: 0.85em;
}
